body {
  font-family: 'Oswald', sans-serif;
}

header{
display:flex;
flex-direction: row;
  }
  #logo {
    width: 14%;
  margin-top: 0%;
  margin-left: 1%;
  }
  #logochaus {
    width: 14%;
  margin-left: 5%;
  margin-top: -2%;
  }
header h1 {
margin-top: 0%;
margin-left: 60%;
font-weight: 100;
}
header h2 {
  margin-left: 1200px;
font-size: 109%;
}
h3 {
  color: #e74c3c;
}
.monTableau{
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
ul {
  list-style-type: none;
}
th{
  background: white;
  border: solid grey 2px;

}
td{
  background: white;
  border: solid grey 2px;
}
#imgBoutton{
  height: 50px;
  width: 50px;
  position: fixed;
}
#formAdmin form {
  display: flex;
      flex-direction: column;
      width: 50%;
}

#formAdmin h2 {
  margin-left: 15%;
}

#formAdmin{
  margin-top: 1%;
  display: flex;
}
article {
  width: 50%;
}
.inscription {
  float: right;
  width: 50%;
}
.connection {
  float: left;
  width: 50%;
  margin-left: 15%;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

.menu li {
    float: right;
    margin-left: 2%;
    padding-right: 2%;
  }

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
 li a:hover {
    background-color: #111;
  }
  .active {
    background-color: white;
  }
  /* Add a gray right border to all list items, except the last item (last-child) */


 li:last-child {
    border-right: none;
  }
 ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

input[type=text]{
  width: 97%;
}
input[type=text], input[type=password], input[type=email],input[type=number],select, textarea {

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=submit] {
  background-color: #e74c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c0392b;
}



.positionProduct {
  display: flex;
  flex-direction: row;
}

.prdct {
  width: 41%;
margin-left: 6%;
margin-right: 6%;
}

.prdct2{
  width: 41%;
  margin-top: 5%;
}
.positionStock {
  display: flex;
  flex-direction: row;
}

.stock{
  width: 41%;
margin-left: 6%;
margin-right: 6%;
}
.stock2 {
    width: 41%;
    margin-top: 6%;
}

.positionAutre {
  display: flex;
  flex-direction: row;
}
.ccbs{
  width: 41%;
margin-left: 6%;
margin-right: 6%;
}
.ccbs2 {
  width: 41%;
  margin-top: 5%;
}
#droit {
  margin-top: 10%;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container p {
  font-size: 11px;
}

footer {
    height: 380px;
    background-color: black;
    color: white;
}
